* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: rgb(249, 253, 253);
}

button {
    width: 300px;
    background-color: red;
    font-size: 26px;
    color: yellow;
}

#showData {
    font-size: 20px;
}

body > div {
    margin: 5vh 3vw;
}

#divJSONDataToTable {
    margin-top: 3vh;
}
table.blueTable {
    white-space:nowrap;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 18px;
  }
  table.blueTable tr:nth-child(even) {
    background: #BFAFF5;
  }

  table.blueTable tr:nth-child(1) {
    background: #cf0808;
    color: yellow;
    font-size: 18px;
  }

  table.blueTable td:nth-child(even) {
    background: #e7f37d;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  table.blueTable tr:hover {
    background-color: rosybrown;
  }

  table.blueTable td:nth-child(even):hover {
    color: white;
    background: black;
    font-weight: bolder;
  }